<h1>about me</h1>
<p>こんにちは。このページでは、作者について少しでも理解してもらうために作成しました。
<br>誕生月は2月で、魚座です。好きな色はピンクですが、最近は何色でも好きです。ターコイズブルーやエメラルドグリーン色なども好きです。
<br>好きな食べ物は、以前はマルゲリータ1本でしたが、今はなんでも好きです。カヌレや甘い物が好きです。以前はタコやイカが苦手でしたが、最近は好きになりました。
<br>小さい頃は、よく絵を描いていました。よく描いていた絵は、魔女やマーメイドなどです。女の子の絵を描くのがすきでした。あんびるやすこさんの本が好きです。大きい音が苦手なので花火大会には行けないです。</p>
<a class="nav-link " href="https://kadaiinfo.com/" target="_blank">KADAI INFOサイトはこちら</a>